# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=ma52vgrm
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=skwrJsWmbdlNQouET9ATnsOoi1fzRVTN4TgqMtS26dt4Ie0vwvdk1mFEty0kXmabdc74ddzAY85IqVtFo9BhpE7XD72Z27NLCxkLoGpVA3M6Bk1FgQRiCwqOROfm3m2uPtBJvJ7xCB3F9ASVlc8kpItvoYM00OFaomVkfb8gUSc2rFfC29nO

# Resend Email
RESEND_API_KEY=your_resend_api_key

# hCaptcha
NEXT_PUBLIC_HCAPTCHA_SITE_KEY=your_hcaptcha_site_key
HCAPTCHA_SECRET_KEY=your_hcaptcha_secret_key

# Site Config
NEXT_PUBLIC_SITE_URL=https://yourname.dev
PORTFOLIO_EMAIL=hello@yourname.dev

# Plausible Analytics
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=yourname.dev

# Revalidation Secret (for Sanity webhook)
REVALIDATION_SECRET=your_random_secret_string
